li.dev-item {
  background: #fff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
}

li.dev-item header {
  display: flex;
  justify-content: space-between;
}

li.dev-item header .profile {
  display: flex;
  align-items: center;
}

li.dev-item header .profile img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

li.dev-item header .profile .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.info span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}

li.dev-item header button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 4px;
  color: #7159c1;
}

li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

li.dev-item footer {
  display: flex;
  justify-content: space-between;
}

li.dev-item footer a {
  display: flex;
  align-items: center;

  color: #8e4dff;
  font-size: 14px;
  text-decoration: none;
}

li.dev-item a:hover {
  color: #5a2ea6;
}
